<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li><a href="/profile/{{id}}">{{name}}</a> : ({{email}})
        <a href="/profile/confirm/{{id}}"><button class="button" type="button" name="button">Delete</button></a></li>
    {{/each}}
    </ul>
  </body>
</html>
